<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadTableData</servlet-name>
        <servlet-class>customPackage.LoadTableData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCustomerData</servlet-name>
        <servlet-class>customPackage.SaveCustomerData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerData</servlet-name>
        <servlet-class>customPackage.DeleteCustomerData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadTableData</servlet-name>
        <url-pattern>/LoadTableData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCustomerData</servlet-name>
        <url-pattern>/SaveCustomerData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerData</servlet-name>
        <url-pattern>/DeleteCustomerData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
